.container {
  display: grid;
  row-gap: 0px;
}

.detailedSearchButtonToOpen {
  padding: 0.4rem 1rem;
  background-color: #6c757d;
  color: white;
  border: none;
  width: 7rem;
  border-radius: 25px;
  font-size: 0.875rem;
  cursor: pointer;
}

.detailedSearchButtonToClose {
  padding: 0.4rem 1rem;
  background-color: #6c757d;
  color: white;
  border: none;
  width: 7rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 0.875rem;
  cursor: pointer;
}

.detailedSearchButton:hover {
  background-color: #5a6268;
}

.animatedRectangleContainerClosed {
  overflow: hidden;
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 0px;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.animatedRectangleContainerOpen {
  border: solid 2px #6c757d;
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  height: 100%;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.animatedRectangle {
  width: 100%;
  padding: 10px;
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(8, minmax(100px, 1fr));
  gap: 10px;
  padding: 8px;
}

.categoryLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}
